.PopUp-textarea {
    padding:  2vh;
    width:  90%;
    height:  300px;
    box-shadow:  0 0 9px 0px rgba(0, 0, 0, 0.1);
    margin-bottom:  1vh;
    margin-top:  1vh;
  }


.PopUp-button {
    padding:10px 15px;
    
}

.button-box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 990;
}
@media screen and (max-height:650px){
    .button-box {
        bottom: 50%;
        right: 85%;
    }
}


.button {
background:#489dff;
padding:20px 25px;
border:none;
font-size:22px;
cursor:pointer;
color:white;
font-weight:bold;
transition:0.3s ease all;
box-shadow:1px 2px 3px rgba(0,0,0,0.3);
}
@media screen and (max-width:940px){
    .button {
        padding:10px 15px;
    }
}